form{
    .status{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        vertical-align: middle;

        input[type="radio"]{
            margin: 15px 0;
        }
        input[type="radio"]:not(:first-child){
            margin: 15px 0;
            margin-left: 15px;
        }
    }

    textarea{
        width: 100%;
        min-width: 220px;
        height: 100px;
        resize: none;
        background-color: rgb(190, 190, 190);
    }
}